*{
    margin: 0;
    padding: 0;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
    "a"
    "b"
    "c";
}

.a{
    grid-area: a;
    background: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    grid-area: b;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.c{
    grid-area: c;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
}

.tabelka{
    background:lightgray;
    width: 800px;
    height: 400px;
    
}