*{
    margin: 0;
    padding: 0;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 50% 40%;
    grid-template-areas: 
    "a a"
    "b b "
    "c d";
}

.a{
    grid-area: a;
    background: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    grid-area: b;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.c{
    grid-area: c;
    background: black;
    color: white;
}

.d{
    grid-area: d;
    background: black;
    color: white;
}

.tabelka{
    background:lightgray;
    width: 800px;
    height: 400px;
    
}

.tabelka2{
    background:lightgray;
    width: 800px;
    height: 300px;
    color: black;
    
}

